
<div class="left">
	<ul>
		<li>
			<a href="javascript:;">
				<i class="left_icon iconfont icon-jianyinghome"></i>系统主页
			</a>
		</li>
		<li>
			<a href="javascript:;" name="{:U('Admin/index')}"><i class="left_icon iconfont icon-yuangongguanli"></i>管理员管理<i class="right_icon iconfont icon-jiantouyou"></i></a>
		</li>
		<li>
			<a href="javascript:;"><i class="left_icon iconfont icon-yuangongguanli"></i>商品管理<i class="right_icon iconfont icon-jiantouyou"></i></a>
			<dl>
				<dd><a href="javascript:;" name="{:U('Cate/index')}" title="">商品分类</a></dd>
				<dd><a href="javascript:;" name="{:U('Brand/index')}" title="">品牌管理</a></dd>
				<dd><a href="javascript:;" name="{:U('Goods/index')}" title="">商品</a></dd>
			</dl>
		</li>
		<li>
			<a href="javascript:;"><i class="left_icon iconfont icon-yuangongguanli"></i>常用操作<i class="right_icon iconfont icon-jiantouyou"></i></a>
			<dl>
				
				<dd><a href="javascript:;" name="{:U('Cate/index')}" title="">栏目管理</a></dd>
				<dd><a href="" title="">文章管理</a></dd>
				<dd><a href="" title="">友情链接</a></dd>
			</dl>
		</li>
		<li>
			<a href="javascript:;"><i class="left_icon iconfont icon-yuangongguanli"></i>会原模版<i class="right_icon iconfont icon-jiantouyou"></i></a>
			<dl>

				<dd><a href="javascript:;" name="{:U('MemberLevel/index')}" title="">会员管理</a></dd>
				<dd><a href="" title="">会员等级</a></dd>
			</dl>
		</li>
		<li>
			<a href="javascript:;"><i class="left_icon iconfont icon-yuangongguanli"></i>商品类型<i class="right_icon iconfont icon-jiantouyou"></i></a>
			<dl>

				<dd><a href="javascript:;" name="{:U('Type/index')}" title="">商品类型</a></dd>

			</dl>
		</li>
		<li>
			<a href="javascript:;"><i class="left_icon iconfont icon-yuangongguanli"></i>系统设置<i class="right_icon iconfont icon-jiantouyou"></i></a>
			<dl>
				
				<dd><a href="javascript:;" name="{:U('System/index')}" title="">系统设置</a></dd>
			</dl>
		</li>
	</ul>
</div>