<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加分类</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
</head>
<body>
<form class="layui-form" action="__URL__/add" method="post" enctype="multipart/form-data">
    <input type="hidden" value="{$type}" name="type_id">
    <div class="layui-form-item">
        <label class="layui-form-label">属性名称</label>
        <div class="layui-input-block">
            <input type="text" name="attr_name" required lay-verify="required" placeholder="请输入名称" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">属性类型</label>
        <div class="layui-input-block">
            <input type="radio" name="attr_type" value="1" title="单选">
            <input type="radio" name="attr_type" value="0" title="唯一" checked>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">属性可选值</label>
        <div class="layui-input-block">
            <textarea name="attr_values" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属类型</label>
        <div class="layui-input-block">
            <input type="checkbox" name="like[write]" title="写作">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

</body>
<script>
    layui.use(['form'], function () {
        var form = layui.form();
    })
</script>
</html>